html {
    
    overflow: scroll;
    overflow-x: hidden;
  }

  ::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

*{
    font-family: 'STIX Two Math', serif;
}

.carousel .carousel-item {
    height: 500px;
  }
  
  .carousel-item img {
      position: absolute;
      object-fit:cover;
      top: 0;
      left: 0;
      min-height: 500px;
  }
  
/*nav{
    background-color: wheat;
    
}

.nav-tabs a{
    color:floralwhite;
    
}

.nav-tabs a:hover{
    text-decoration: none;
    color:peru;
}

.logo a:hover{
    text-decoration: none;
    color:floralwhite

}
.logo a{
    color:floralwhite;
font-weight: bold;}
*/

.navbar{

    background-color: saddlebrown;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */

      
}

.nav-item{
    padding-left:15px;
    padding-right:15px;
}

.nav-link{
    color:floralwhite;
}

.nav-link:hover{
    text-decoration:none;
    color:peru;
}

.navbar-brand{
    color: floralwhite;

}
.navbar-brand:hover{
    text-decoration:none;
    color:floralwhite;
    
}

/*.carousel-item{
    height: 90vh;
}*/

#head-service{
    text-align: center;
    color:saddlebrown;
    
    padding-top: 20px;
}

#service{
    color:saddlebrown;
    text-align: center;
    font-weight: bold;
    
}



  .text{
      
      font-size: 15px;
      color:saddlebrown;
      text-align: center;
  }

  #head-story{
    text-align: center;
    color:saddlebrown;
    
    padding-top: 5px;

}

.story{
    padding-top:10px;
}
  #text2{
      background-color: rgb(75, 42, 13);
      color: floralwhite;
      padding-top: 20px;
      padding-bottom: 20px;
      border-style: groove;
      border-color: khaki;
      padding-left: 5px;
      padding-right: 5px;

  }

  #contact{
      border-style: solid;
      border-color:saddlebrown;
  

  }
  .center {
    margin-bottom: 0%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-style: solid;
    border-radius: 5px;
    border-color: saddlebrown;
  }
  .center:hover{
      cursor: pointer;
  }

  #sub{
      padding-top: 10px;
      padding-bottom: 10px;
  }

  #con{
    text-align: center;
    color:saddlebrown;
    font-weight: bold;
    padding-top: 50px;
  }


  label{
      color:saddlebrown;
  }



  #footer{
    background-color: saddlebrown;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 30px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: brown;
   
}

.icon{
    padding-top:20px;
    
}

a.icon:hover{
    cursor: pointer;
    text-decoration: none;
    color:grey;

}
a.icon{
    color:floralwhite;
}



.footer {

  
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:saddlebrown;
  color: floralwhite;
  text-align: center;
}
